# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# Mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre / pytype
.pyre/
.pytype/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# pip cache
pip-wheel-metadata/